/* 
    Document   : MainStyle
    Created on : Mar 7, 2013, 10:44:12 PM
    Author     : dwpyle1
    Description:
        This is the primary Stylesheet for the entire project.  This stylesheet controlls the main layout
        of the project including the wrapper, and content sections.
*/

root { 
    display: block;
    
}
body{
    background:graytext;
    text-align: center;
    -moz-box-shadow: inset -0px -500px 500px black;
    -webkit-box-shadow: inset -0px -500px 500px black;
    box-shadow: inner -0px -500px 500px black;
    margin:0px;
    padding:10px;
    font-family:"Arial Black", Gadget, sans-serif;
}

div#preload { display: none; }

#wrapper{
    opacity: .9;
    background:transparent;
    max-width: 1200px;
    min-width:600px;
    margin: 0px auto;
    text-align: left;
    border-top-right-radius: 15px 50px;
    border-bottom-right-radius:  15px 50px;
    min-height: 500px;
    position:relative;
    -moz-box-shadow: 2px 4px 5px rgba(0,0,0,.5);
    -webkit-box-shadow: 2px 4px 5px rgba(0,0,0,.5);
    box-shadow: 2px 4px 5px rgba(0,0,0,.5);
}
#banner{
    opacity: .95;
    background:red;
    max-width: 1200px;
    min-width:600px;
    margin: 0px auto;
    text-align: left;
    height:50px;
    position:relative;
    border-top-left-radius: 20px 50px;
    border-top-right-radius: 50px 20px;
    text-align: center;
    font-family:"Arial Black", Gadget, sans-serif;
    font-family: cursive;
}


#leftArea{
    position: absolute;
    left:0px;
    top:0px;
    width:20%;
    background:blue;
    height: 100%;
}
#rightArea{
    position: absolute;
    right:0px;
    top:0px;
    width:80%;
    background:green;
    height:100%;
}
#footerArea{
    text-align: center;
    width:100%;
    position:absolute; 
    bottom:0;
    padding:5px;
    
    
}

.fade {
   opacity: 1;
   transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
   }

.fade:hover {
   opacity: 0.5;
   }

.navigationList{
    text-decoration: none;
    list-style: none;
    margin-left:0px;
    padding-left: 0px;
    
}
.navigationList li{
    text-decoration: none;
    list-style: none;
    margin-left:0px;
    padding-left:0px;
    width:100%;
    background:yellow;
    text-align: center;
    padding-top:10px;
    padding-bottom: 10px;
}
.navigationList li a{
    text-decoration: none;
    color:black;
    text-align: center;
    
    
}
.navigationList li:hover{
    background:orange;
    text-align: center;
    
}